@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face {
  font-family: YoutubeStar;
  src: url("fonts/Youtube Star.ttf");
}

@font-face {
  font-family: Command Prompt;
  src: url("fonts/Greenscr.ttf");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #eaeaea;
  font-family: Roboto, sans-serif;
  font-size: 1.2em;
  color: #fff;
}

.container-1 {
  background-image: url("images/main-background.svg");
  background-repeat: no-repeat;
  background-size: 100% 550px;
  background-position: center initial;
}
#About {
  background-color: #6a1ad6;
  height: 500px;
  width: auto;
}

.projects-container {
    border-radius: 10px;
    margin: -130px auto;
    width: 1000px;
    height: 520px;
    background-color: #EAEAEA;
    margin-bottom: 0px;
}

.projects-container h5 {
    text-align: center;
    color: black;
    font-family: Open Sans, Roboto, sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding: 80px;
    margin-bottom: 0px;
    justify-items: center;
}

.projects {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project:hover {
  filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.25));
  background-color: #6a1ad6;
}

.project {
    display: flex;
    background-color: black;
    margin: 0 50px;
    width: 200px;
    height: 200px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

.underline {
  animation: 1s linear 0s infinite twinkle; 
  /* animation-name: twinkle;
  animation-duration: 3s;  */
}

@keyframes twinkle {
  0% {
    color: white;
  }
  4% {
    color: white;
  }
  8% {
    color: white;
  }
  12% {
    color: white;
  }
  16% {
    color: white;
  }
  20% {
    color: white;
  }
  24% {
    color: white;
  }
  28% {
    color: white;
  }
  32% {
    color: white;
  }
  36% {
    color: white;
  }
  40% {
    color: white;
  }
  44% {
    color: white;
  }
  48% {
    color: white;
  }
  52% {
    color: transparent;
  }
  56% {
    color: transparent;
  }
  60% {
    color: transparent;
  }
  64% {
    color: transparent;
  }
  68% {
    color: transparent;
  }
  72% {
    color: transparent;
  }
  76% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
  84% {
    color: transparent;
  }
  88% {
    color: transparent;
  }
  92% {
    color: transparent;
  }
  96% {
    color: transparent;
  }
  100% {
    color: transparent;
  }
}

.arrow-btn {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.arrow-btn:hover {
  /* filter: drop-shadow(5px 3px 2px rgba(0, 0, 0, 0.25)); */
  opacity: 0.5;
}

footer {
  display: flex;
  text-align: center;
  bottom: 0px;
  height: 60px;
  filter: drop-shadow(0   -5px 4px rgba(0, 0, 0, 0.25));
  background-color: white;
  margin: 0;  
  width: 100%;
  justify-content: center;
  align-items: center;
}

.github-btn {
  display: flex;
  width: 150px;
  height: 40px;
  background-color: white;
  color: #3763D3;
  margin: auto auto;
  padding: 5px 0;
  border-radius: 10px;
  border: 2px solid #3763D3;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.github-btn a {
  height: 100%;
  font-family: Open Sans;
  font-size: 20px;
  text-decoration: none;
  color: #3763D3;
}

.linkedin-btn:hover {
  background-color: #090909;
}

.linkedin-btn:hover a {
  color: white;
}

.linkedin-btn {
  display: inline-block;
  width: 150px;
  height: 40px;
  margin: auto auto;
  background-color: white;
  border: 2px solid #090909;
  margin: 10px auto;
  padding: 5px 0;
  border-radius: 10px;
  margin-left: 10px;
}

.linkedin-btn a {
  font-family: Open Sans;
  text-decoration: none;
  color:#090909;
}

.github-btn:hover {
  background-color: #3763D3;
}

.github-btn:hover a {
  color: white;
}

.title-1 {
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    padding: 70px;
}

.text-1 {
    font-size: 30px;
    font-family: Roboto;
    font-weight: 300;
    text-align: center;
    margin: 0 300px;
}

.main-nav ul {
  display: flex;
  list-style: none;
}

.main-nav a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-family: Rum Raisin;
  font-size: 36px;
  padding: 0.5rem 1rem;
}

.main-nav a:hover {
  opacity: 0.5;
}

.brand-logo-name {
  font-family: Command Prompt;
  font-size: 30px;
  color: #fff;
  margin-left: 2rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #6a1ad6;
  padding: 0 250px;
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25));
}

.main-title {
  font-size: 60px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  margin-top: 110px;
}

.main-icons {
  display: block;
  margin: 30px auto;
  width: 700px;
}

.main-image {
  display: block;
  margin: 80px auto;
  text-align: center;
  width: 200px;
}

.main-subtitle {
  font-family: Robot, sans-serif;
  font-weight: 300;
  margin-top: 180px;
  text-align: center;
  color: #000000;
  font-size: 24px;
}

.main-icon {
  display: block;
  margin: 30px auto;
  width: 30px;
}

.main-icon:hover {
  opacity: 0.5;
}

/* .projects {
  margin: auto 30vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: gainsboro;
}

.projects div {
  display: flex;
  margin: 30px 30px;
  border: 2px solid black;
}

.projects div:hover {
  opacity: 0.5;
}

.projects img {
  max-width: 100%;
  max-height: 100%;
} */

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 50px;
}
