@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #EAEAEA;
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    color: #39393C;
}

.main-nav ul{
    display: flex;
    list-style: none;
}

.main-nav a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 24px;
    padding: 1rem;
}

.main-nav a:hover {
    background-color: #D6D3D3;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    padding: 0 170px;
    filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25));
}

.main-title {
    font-size: 72px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #6D6AB2;
    margin: 60px auto;
}

.brand-logo-name {
    font-size: 30px;
    color: inherit;
    margin-left: 2rem;
}

.main-image {
    display: block;
    margin: 150px auto;
    text-align: center;
}

.main-subtitle {
    font-family: Robot, sans-serif;
    font-weight: 300;
    margin-top: 150px;
    text-align: center;
    color: inherit;
    font-size: 36px;
}

.main-icon {
    display: block;
    margin: 30px auto;
}

.projects {
    margin: auto 30vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: gainsboro;
}

.projects div {
    display: flex;
    margin: 30px 30px;
    border: 2px solid black;
}

.projects div:hover {
    opacity: 0.5;
}

.projects img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 50px;
}